<!-- home_controller.rbにメソッドを記述、登録する -->
<!-- localhost3000 の時のビュー、つまりホーム画面にあたる -->
<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: fantasy;">TW-HIDEAWAY</strong>
        </p>
      </div>
      <div class="main-image"></div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
      
      </figure>
    </div>
  </div>
</section>
